@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-color: #F1F1F2;
    --black-color: #000;
    --white-color: #fff;
    --primary-blue-color: #2884EF;
    --accent-blue-color: #3E97FF;
    --gray-600: #7E8299;
    --gray-500: #A1A5B7;
    --gray-400: #D8D8E5;
    --gray-100: #F9F9F9;
}

body {
    font-family: 'Inter', sans-serif;
}

.font-gilroy {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;

    @media (min-width: 800px) {
        font-size: 32px;
    }
}

@layer components {
    .default-layout {
        @apply flex flex-col min-h-screen gap-x-5;
        background-color: var(--gray-color);
    }
}
